$ComponentItem: component-item;
.#{$ComponentItem} {
	display: inline-block;
	margin-top: 2%;
	margin-right: 1%;
	margin-left: 1%;
	width: 47%;
	height: 500upx;
	border-radius: 10upx;
	background: #666;
}