$Details: details;
.#{$Details}{
  &-pictures{
    width: 100%;
    background: url("../../static/images/me-bg.png") center center;
    background-size: 100% 100%;
    &-images{
      padding-right: 20upx;
      padding-left: 20upx;
      box-sizing: border-box;
    }
    &-info{
      display: flex;
      justify-content: space-between;
      align-content: center;
      padding-right: 20upx;
      padding-left: 20upx;
      box-sizing: border-box;
      .left{
        image{
          width: 40upx;
          height: 40upx;
        }
      }
      .right{}
    }
  }
}